html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Urbanist", sans-serif;
}

.container {
  padding-top: 50px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 70%;
  margin: 0 auto;
}

.container>* {
  padding: 30px;
}

header {
  background-image: url(images/star.gif);
  background-position: bottom;
  text-align: center;
  grid-column: 1 / 13;
  border-radius: 10px;
}

h1 {
  font-size: 80px;
  color: #ffffff;
  margin: 0;
}

h2 {
  font-size: 25x;
  color: #ffffffdf;
  margin: 5px 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 15px;
  color: #1e1e4060;
  margin: 0;
}

main {
  background: #ffffff;
  grid-column: 4 / 13;
  grid-row: 2;
  padding: 10px;

}

.pillow-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pillow {
  text-align: center;
  margin-bottom: 15px;
}

.buy-button {
  display: block;
  background-color: #35355a;
  color: #FFFFFF;
  padding: 8px;
  font-size: 15px;

  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  width: fit-content;
  border-radius: 5px;
}

.buy-button:hover {
  background-color: #1e1e4060;
  border-radius: 5px;
  ;
}

img.small {
  width: 100%;
  max-width: 140px;
  max-height: auto;
  padding: 10px;
}

nav {
  background: #ffffff;
  grid-column: 1 / 4;
  grid-row: 2;
  flex-direction: column;
  justify-content: left;
  text-decoration: none;
}

nav a {
  color: #0b0b4260;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
  color: #35355a;
  text-decoration: none;
}

footer {
  background: #ffffff;
  text-align: center;
  grid-column: 1 / 13;
}